/Semana 2/clase_28042025/build/
/Semana 2/clase_30042025/nbproject/private/
/Semana 2/clase_30042025/build/
/Semana 3/clase_05052025/nbproject/private/
/Semana 3/clase_05052025/build/
/Semana 3/clase_07052025/nbproject/private/
/Semana 3/clase_07052025/build/
/Semana 3/clase_08052025/nbproject/private/
/Semana 3/clase_08052025/build/
/Semana 4/clase_14052025/nbproject/private/
/Semana 4/clase_14052025/build/
/Semana 4/clase_15052025/nbproject/private/
/Semana 4/clase_19052025_interfaz/nbproject/private/
/Semana 5/clase_20052025/nbproject/private/
/Semana 5/clase_20052025/build/
/Semana 5/clase_20052025/dist/
/NewFolder/clase_26052025/nbproject/private/
/NewFolder/clase_26052025/build/
